#!/usr/bin/env bash
[Service]
WorkingDirectory=/home/pi/PiGlow/
ExecStart=/home/pi/PiGLow/clear.py
ExecStop=/home/pi/PiGLow/clear.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
